name: "CI"
on:
  pull_request:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v31
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
    - run: nix build
    - name: Upload userscripts artifact
      if: github.event_name != 'release'
      uses: actions/upload-artifact@v4
      with:
        name: userscripts
        path: result/dist/@workspace/better-custom-hotkeys.user.js 
